@import '../defines.module';

.wrapper {
  background: white;
  max-width: 1040px;
  padding-bottom: 50px;
  min-height: inherit;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 50px 70px 70px;

  .bh3 {
    font-weight: 200;

    span {
      font-weight: bold;
    }
  }
}

.bd_actions {
  display: flex;
  align-items: center;
  button {
    margin-right: 20px;
  }
}

.global_db {
  margin-top: 50px;
  padding-left: 50px;
  .bh3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
  }
}
