@import '../defines.module';

.wrapper {
  background: white;
  max-width: 1040px;
  padding-bottom: 50px;
  min-height: inherit;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-left: auto;
  margin-right: auto;
}

.banner {
  height: 200px;
  background: #243E49;
  display: flex;
  align-items: center;
  color: white;
  font-size: 48px;
  background: url('../../img/bannerImages/banner1.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0px 3px 5px -4px rgba(0, 0, 0, 0.75);

  h2 {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    text-align: left;
    position: absolute;
    font-weight: bold;
    padding: 10px 30px 10px 80px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #000000;
  }
}

.content {
  padding: 50px 70px 70px;

  .bh3 {
    margin-bottom: 50px;
    font-weight: 200;

    span {
      font-weight: bold;
    }
  }
}

.controller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: contrast(0.7);
  max-width: 200px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;

  img {
    display: block;
    cursor: pointer;
  }

  img:nth-child(1) {
    transform: rotate(180deg);
  }
}

.progress {
  margin-top: 50px;
  margin-bottom: 100px;
  b {
    margin-left: 50px;
    font-size: 22px;
  }
}
